body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.board{
    display: grid;
    grid-template-columns: repeat(3, 110px);
    border: none;
}
.cell{
    border: 1px black solid;
    height: 100px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}
button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.btn-container > *{
    display: flex;
    gap: 80px;
}
.marker{
    font-size: 100%;
    margin: 0;
    font-size: 3rem;
}
.x{
    color: red;
}
.o{
    color: blue;
}
img{
    width: 150px;
}
.x-choice:hover{
    background-color: red;
}
.o-choice:hover{
    background-color: blue;
}
.score-container{
    display: flex;
    width: 330px;
    justify-content: space-between;
}
.transition-text{
    transition: all .5s;
    font-size: 5rem;
}
.win{
    background-color: green;
}